body{
    background-color: aqua;

}




.Heading {
    background-color:darkslategrey;
    width: 100%;
    height: 100px;
        
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Heading ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    column-gap: 300px;
    list-style: none;
    
  }
  .navlink {
   text-decoration: none;
    font-size: 30px;
    color: red;
  }